<div class="container">
  <h1>My Personal Home Page</h1>
  <p>You can read more about me or check out my blog</p>
  <%= link_to "Blog", posts_path %>
  </br>
  <%= link_to "About Me", about_path %>
</div>
